:root {
    --primary-color: #91a4ad;
    --text-color: #c4dbe8;
    --background-light: #3b3c2a;
    --header-height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 110%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: #c4dbe8;
    line-height: 1.5;
    overflow-x: hidden;
}

.header-background {
    background: linear-gradient(rgba(255, 254, 253, 0.7), rgba(255, 254, 253, 0.9)),;
    background-size: cover;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.header-content img {
    max-width: 250px;
    border-radius: 50%;
}

.header-content h1, 
.header-content,
p {
    margin: 0.5rem 0;
}

#about {
    background-color: #3b3c2a;
    padding-left: 40px;
    padding-right: 40px;
    margin: 40px;
    border-radius: 0.5%;
    text-align: center;
}

.profile-photo {
    max-width: 40%;
    height: auto;
}

#portfolio {
    background-color: #b4b77f;
    padding: 15px;
    border-radius: 0.5%;
    text-align: center;
    margin-bottom: 10px;
}

.project {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
    line-height: 200px;
}

#contact {
    background-color: #3b3c2a;
    padding: 15px;
    border-radius: 0.5%;
    text-align: center;
}

.td-bin {
    padding: 12px 36px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    background-color: #0fbfbf;
}

footer {
    background-color: #0fbfbf;
    text-align: center;
    padding: 10px;
}